body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
  text-align: center;
}

header, footer {
  padding: 20px;
  background-color: #f0f0f0;
  transition: background-color 10s, color 5s;
}

main {
  padding: 20px;
  transition: background-color 10s, color 5s;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}

/* darkmode style */
body.darkmode header, body.darkmode footer {
  background-color: darkred;
  color: white;
  transition: background-color 10s, color 5s;
}

body.darkmode main {
  background-color: darkblue;
  color: white;
  transition: background-color 10s, color 5s;
}